
<ion-header>
  <ion-toolbar>
    <ion-title>Quetzart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-searchbar placeholder="Buscar artistas o establecimientos...">
  </ion-searchbar>

  <h2>🎨 Obras destacadas</h2>

  <ion-card *ngFor="let art of (artworks$ | async)"
            (click)="openArtwork(art)">
    <img [src]="art.imageUrl" />

    <ion-card-header>
      <ion-card-title>{{ art.title }}</ion-card-title>
      <ion-card-subtitle>{{ art.artistName }}</ion-card-subtitle>
    </ion-card-header>
  </ion-card>

</ion-content>
